* {
	box-sizing: border-box;
}
body {
	font-family: Arial;
	padding: 0px;
	margin: 0px;
	background: rgba(254, 254, 254, 1);
	font-size: 115%;
}
html, body {
	height: 100%;
	margin: 0;
}
span {
	width: 50px;
	height: 2px;
	display: inline-block;
}

/* Header */
.header {
	height: 91px;
}
.header img {
	display: inline-block;
	float: left;
}
.header h1 {
	display: inline-block;
	font-weight: bold;
}

/* Subject Briefs */
.subjectbriefs {
	margin: 0 15vw;
}

.subjectbriefs p {
	text-indent: 3em;
}

/* Resources */
.resources {
	margin: 0 15%;
}
.resources img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 350px;
	max-height: 41vw;
	width: 600px;
	max-width: 70vw;
}
.entry {
	border-style: solid;
}

/* Navigation Bar */
.navbar {
	background-color: rgba(0, 122, 51, 1);
	margin-bottom: 20px;
	height: 50px;
	z-index: 1;
}
.navbar .links {
	width: 90%;
	margin: auto;
	padding: 0 30px;
}
.navbar a {
	float: left;
	display: block;
	font-size: 20px;
	color: rgba(242, 242, 242, 1);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.navbar a.active {
	background-color: rgba(0, 96, 38, 1);
	color: white;
}
.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
	background-color: rgba(251, 225, 34, 1);
	color: rgba(0, 0, 0, 1);
}
.navbar a.GitHub {
	float: right;
}	

/* Dropdown Button */
.dropdown {
	float: left;
	overflow: hidden;
	z-index: 2;
}
.dropdown .dropbtn {
	cursor: pointer;
	font-size: 20px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}
.dropdown-content {
	display: none;
	position: absolute;
	min-width: 160px;
	background-color: rgba(254, 254, 254, 1);
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown-content a {
	float: none;
	font-size: 16px;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
.dropdown-content a:hover {
	background-color: rgba(221, 221, 221, 1);
}
.dropdown:hover .dropdown-content {
	display: block;
	z-index: 3;
}

/* Main */
.main {
	float: left;
	width: 100%;
	background-color: rgba(255, 255, 255, 1);
	padding-left: 25px;
}

/* Footer */
.footer {
	padding: 10px;
	text-align: center;
	background: rgba(150, 150, 150, 1);
	margin-top: 25px;
}

/* Responsive layout */
@ media screen and (max-width: 800px) {
	.main{
		width: 100%;
		padding: 0;
	}
	.navbar .links {
		width: 100%;
		padding: 0;
	}
	.row {
		padding: 0 25px;
		width: 100%;
	}
}

/* Content */
.row {
	padding: 25px;
	width: 75%;
	margin: auto;
	min-height: 100%;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Responsive layout (<400px) */
@media screen and (max-width: 400px) {
	.navbar a {
		float: none;
		width: 100%;
	}
}
/*Main Page welcome*/
#intro {
	padding: 0px 100px;
}
#intro h1 {
	text-align: center;
}
#intro h2 {
	text-align: center;
}
@media screen and (min-width: 780px) {
	#intro img {
		float: left;
	}
}
#intro img {
	width: 50%;
	margin-right: 10px;
}
#intro div {
	color: #140;
}
#intro div p {
	text-align: justify;
	text-justify: auto;
	text-align-last: center;
}
